@import url('https://api.mapbox.com/mapbox-assembly/mbx/v0.18.0/assembly.min.css');
@import url('https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css');
.map {
  display: flex;
  height: calc(100vh - 300px);
  width: 100vh;
  position: absolute;
}
