/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.food-icon {
  object-fit: scale-down;
  height: 28px;
  width: 28px;
}

.img-card {
  object-fit: none;
  height: 300px;
}

.out-icon {
  height: 0.95rem;
  width: 0.95rem;
}
